[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypinyin = "*"

[dev-packages]
pre-commit = "*"
black = "*"
isort = "*"
codespell = "*"

[requires]
python_version = "3.12"
